.navbar-ecommerce {
    background-color: #2d5283;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
}

.brand-cart {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.cart-widget svg {
  color: #fff;
  height: 2em;
  width: 2em;
}

.me-auto {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  place-items: center;
  justify-content: center;
}

.nav-link {
  font-size: 18px;
  color: #fff;
  padding: 10px 0;
}

